:root{
 --primary: #2175f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

body {
    background-color: #eeffee;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 860px;
}

.shoesBackground{
    position: relative;
    width: 50%;
    height: 475px;
    box-shadow: 
    -15px 0 35px rgba(0,0,0,0.1),
    0 -15px 35px  rgba(0,0,0,0.1),
    0 -15px 35px  rgba(0,0,0,0.1);
    transition: .7s;
}

.gradients{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.gradients{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -2;
}

.first{
    z-index: 0;
    animation: 1s width ease;
}

@keyframes width {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.second{
    z-index: -1;
}

.gradient[color="blue"]{
    background-image: linear-gradient(45deg,#0136af , #22abfa);
}
.gradient[color="red"]{
  background-image: linear-gradient(45deg, #d62926,#ee625f);
}
.gradient[color="green"]{
 background-image: linear-gradient(45deg, #11998e , #1ce669);
}
.gradient[color="orange"]{
 background-image: linear-gradient(45deg, #fc4a1a  ,#f7b733);
}
.gradient[color="black"]{
 background-image: linear-gradient(45deg, #111 ,#666);
}

.logo{

}

.share{

}